<ion-view view-title="设置">
    <ion-content>
        <ul class="list">
            <li class="item" ng-click="vm.goTo('parent')">
                <i class="icon ion-ios-contact"></i>&nbsp;&nbsp;家长信息</i>
            </li>
            <li class="item" ng-click="vm.goTo('childrenSetting')">
                <i class="icon ion-ios-people"></i>&nbsp;&nbsp;孩子管理</i>
            </li>
            <!--<li class="item" ng-click="vm.goTo('exit')">-->
                <!--<i class="icon ion-log-out"></i>&nbsp;&nbsp;用户退出</i>-->
            <!--</li>-->
            <li class="item" ng-click="vm.goTo('register')">
                <i class="icon ion-ios-settings"></i>&nbsp;&nbsp;其它设置</i>
            </li>

        </ul>
    </ion-content>
</ion-view>
