<ion-view view-title="我的机构">
    <ion-content>

        <ul class="list">
            <li class="item" ng-click="vm.goTo('organizerInfo')">
                <i class="icon ion-trophy"></i>&nbsp;&nbsp;机构信息</i>
            </li>
            <li class="item" ng-click="vm.goTo('teacher')">
                <i class="icon ion-person-stalker"></i>&nbsp;&nbsp;老师管理</i>
            </li>
            <li class="item" ng-click="vm.goTo('depositChildren')">
                <i class="icon ion-android-contacts"></i>&nbsp;&nbsp;孩子信息</i>
            </li>
            <li class="item" ng-click="vm.goTo('camera')">
                <i class="icon ion-videocamera"></i>&nbsp;&nbsp;监控信息</i>
            </li>
            <!-- <li class="item" ng-click="vm.goTo('exit')">
                <i class="icon ion-log-out"></i>&nbsp;&nbsp;用户退出</i>
            </li> -->
        </ul>
    </ion-content>
</ion-view>
