
<ion-view view-title="孩子信息">

    <ion-content>
        <form name="childForm">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">姓名</span>
                <input type="text" ng-model="vm.child.Name" style="text-align:right;" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">性别</span>
                <select ng-model="vm.child.Sex" ng-disabled="!vm.isEditing">
                    <option value='' selected>未知</option>
                    <option value='1'>男</option>
                    <option value='2'>女</option>
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">出生日期</span>
                <input type="text" ng-model="vm.child.Birthday" style="text-align:right;" required ng-readonly="!vm.isEditing">
            </label>

            <div class="item item-divider">
                扩展信息
            </div>

            <label class="item item-input">
                <span class="input-label">监护人1</span>
                <input type="text" ng-model="vm.child.Guardian1" style="text-align:right;" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">监护人电话</span>
                <input type="tel" ng-model="vm.child.GuardianPhone1" style="text-align:right;" ng-readonly="!vm.isEditing" required ng-minlength="11" ng-maxlength="11" ng-pattern="/^1[0-9]{10}$/">
            </label>
            <label class="item item-input">
                <span class="input-label">监护人单位</span>
                <input type="text" ng-model="vm.child.GuardianWorkplace1" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">监护人2</span>
                <input type="text" ng-model="vm.child.Guardian2" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">监护人2电话</span>
                <input type="tel" ng-model="vm.child.GuardianPhone2" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input borderBottom">
                <span class="input-label">监护人2单位</span>
                <input type="text" ng-model="vm.child.GuardianWorkplace2" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>

            <label class="item item-input">
                <span class="input-label">家庭住址</span>
                <input type="text" ng-model="vm.child.HomeAddr" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">过敏情况</span>
                <input type="text" ng-model="vm.child.AllergyRemark" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input borderBottom">
                <span class="input-label">饮食爱好</span>
                <input type="text" ng-model="vm.child.FavoriteFood" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>

            <label class="item item-input">
                <span class="input-label">就读学校</span>
                <input type="text" ng-model="vm.child.SchoolName" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>
            <!--<label class="item item-input">-->
                <!--<span class="input-label">年级</span>-->
                <!--<input type="text" ng-model="vm.child.grade" required ng-readonly="!vm.isEditing">-->
            <!--</label>-->
            <label class="item item-input item-select">
                <span class="input-label">年级</span>
                <select ng-model="vm.child.Grade" ng-disabled="!vm.isEditing">
                    <option value='0' selected>无</option>
                    <option value='11'>幼一</option>
                    <option value='12'>幼二</option>
                    <option value='13'>幼三</option>
                    <option value='14'>幼四</option>
                    <option value='21'>小一</option>
                    <option value='22'>小二</option>
                    <option value='23'>小三</option>
                    <option value='24'>小四</option>
                    <option value='25'>小五</option>
                    <option value='26'>小六</option>
                    <option value='31'>初一</option>
                    <option value='32'>初二</option>
                    <option value='33'>初三</option>
                </select>
            </label>
            <label class="item item-input borderBottom">
                <span class="input-label">班主任电话</span>
                <input type="tel" ng-model="vm.child.ClassTeacherPhone" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>

            <label class="item item-input">
                <span class="input-label">备注</span>
                <input type="text" ng-model="vm.child.Remark" style="text-align:right;" ng-readonly="!vm.isEditing">
            </label>
            <!--
            <label class="item item-input">
                <span class="input-label">学习课程</span>
                <input type="text" ng-model="vm.child.Course" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">开放时间</span>
                <input type="text" ng-model="vm.child.OpenTime" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">信息渠道</span>
                <input type="text" ng-model="vm.child.HowToKnow" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">托卡编号</span>
                <input type="text" ng-model="vm.child.DepositCardID" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">托管类型</span>
                <input type="text" ng-model="vm.child.DepositType" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">收费优惠</span>
                <input type="text" ng-model="vm.child.Benefit" required ng-readonly="!vm.isEditing">
            </label>
            -->
            <!--<label class="item item-input item-select">-->
                <!--<span class="input-label">关系</span>-->
                <!--<select ng-model="vm.child.relationship" ng-disabled="!vm.isEditing">-->
                    <!--<option value='' >其它</option>-->
                    <!--<option value='1'>父亲</option>-->
                    <!--<option value='2' selected>母亲</option>-->
                    <!--<option value='3'>爷爷／外公</option>-->
                    <!--<option value='4'>奶奶／外婆</option>-->
                <!--</select>-->
            <!--</label>-->

        </div>

        <div class="button-bar" ng-show="vm.isEditing">
            <button class="button button-positive" style="margin-right: 1px;" ng-click="vm.save(childForm.$valid,childForm.$dirty)">保存</button>
            <button class="button button-positive" style="margin-left: 1px;" ng-click="vm.back()">取消</button>
        </div>

        </form>
    </ion-content>

    <!--<div class="bar bar-footer" ng-show="vm.isEditing">-->
        <!--<div class="button-bar">-->
            <!--<a class="button button-positive" style="margin-right: 1px;" ng-click="vm.save(childForm)">保存</a>-->
            <!--<a class="button button-positive" style="margin-left: 1px;" ng-click="vm.back()">取消</a>-->
        <!--</div>-->
    <!--</div>-->
</ion-view>
