<ion-view view-title="信息">

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-edit" ng-click="vm.new()"></a>
    </ion-nav-buttons>

    <ion-content>
        <div class="weui_panel_bd">

            <div class="weui_media_box weui_media_appmsg" ng-repeat="item in vm.msg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="./img/title.png" alt="小孩的头像">
                </div>
                <div class="weui_media_box weui_media_text">
                    <h4 class="weui_media_title">{{item.childrenName}}</h4>
                    <p class="weui_media_desc" ng-if="item.description">{{item.description}}</p>
                    <div style="display:inline-block;" ng-if="item.photolink1">
                        <img style="float: left;" ng-src="{{item.photolink1|ImageMin}}" ng-click="goToSlide(0,item)"
                             onload='if (this.width>64 || this.height>100) if (this.width/this.height>64/100) this.width=64; else this.height=100;' >
                        <img style="float: left;" ng-src="{{item.photolink2|ImageMin}}"  ng-if="item.photolink2" ng-click="goToSlide(1,item)"
                             onload='if (this.width>64 || this.height>100) if (this.width/this.height>64/100) this.width=64; else this.height=100;' >
                        <img style="float: left;" ng-src="{{item.photolink3|ImageMin}}"  ng-if="item.photolink3" ng-click="goToSlide(2,item)"
                             onload='if (this.width>64 || this.height>100) if (this.width/this.height>64/100) this.width=64; else this.height=100;' >
                    </div>
                    <div style="display:inline-block;" ng-if="item.photolink4">
                        <img style="float: left;" ng-src="{{item.photolink4|ImageMin}}" ng-click="goToSlide(3,item)"
                             onload='if (this.width>64 || this.height>100) if (this.width/this.height>64/100) this.width=64; else this.height=100;' >
                        <!--<img style="float: left;" ng-src="{{item.photolink5|ImageMin}}"  ng-if="item.photolink5" ng-click="goToSlide(4,item)"-->
                             <!--onload='if (this.width>64 || this.height>100) if (this.width/this.height>64/100) this.width=64; else this.height=100;' >-->
                        <!--<img style="float: left;" ng-src="{{item.photolink6|ImageMin}}"  ng-if="item.photolink6" ng-click="goToSlide(5,item)"-->
                             <!--onload='if (this.width>64 || this.height>100) if (this.width/this.height>64/100) this.width=64; else this.height=100;' >-->
                    </div>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta">来自{{item.publisherid}}老师</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">{{item.createtime|dateChange}}</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">{{item.clickcount}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
