<ion-view view-title="相片展示gallery">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="vm.back()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <img ng-src="{{vm.image}}"/>
        </div>

        <!--<div class="weui-gallery" style="display: block">-->
            <!--<span class="weui-gallery__img"-->
                  <!--style="background-image: url('http://116.7.234.129/group1/M00/00/01/rBIBplfpHY2AA3yCAADEtT3gIzE977.png');">-->
            <!--</span>-->
            <!--<div class="weui-gallery__opr">-->
                <!--<a href="javascript:" class="weui-gallery__del">-->
                    <!--<i class="weui-icon-delete weui-icon_gallery-delete"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>
