<!DOCTYPE html>


<!--<h1 class="page-header">快速入口</h1>-->
<form class="form-inline">
    <div class="form-group">
        <label for="filterText" style="font-size: 18px;">快速处理&nbsp;&nbsp;</label>

        <input type="text" class="form-control" autofocus="autofocus" id="filterText" placeholder="请输入查询内容" ng-model="simpleFilter" >
    </div>
    <button type="submit" class="btn btn-default invisible" ng-click="sign(simpleFilter)">签收</button>
    <button type="button" class="btn btn-primary" ng-click="simpleFilter='';">清除</button>
    <!--<button type="submit" class="btn btn-default" ng-click="finish(simpleFilter)">办结</button>-->
    <button type="button" class="btn btn-primary" ng-click="open()">提交文件</button>

</form>

<!--<div class="row placeholders hide" >-->
    <!--<div class="col-xs-6 col-sm-3 placeholder">-->
        <!--<img src="app/img/sign.png" class="img-responsive" alt="签收">-->
        <!--<h4>签收</h4>-->
        <!--<span class="text-muted">签收送到的文档</span>-->
    <!--</div>-->
    <!--<div class="col-xs-6 col-sm-3 placeholder">-->
        <!--<img src="app/img/create.png" class="img-responsive" alt="发文">-->
        <!--<h4>发文</h4>-->
        <!--<span class="text-muted">创建文档信息</span>-->
    <!--</div>-->
    <!--<div class="col-xs-6 col-sm-3 placeholder">-->
        <!--<img src="app/img/finish.png" class="img-responsive" alt="办结">-->
        <!--<h4>办结</h4>-->
        <!--<span class="text-muted">文档办结完毕</span>-->
    <!--</div>-->
<!--</div>-->

<hr>
<h2 class="sub-header">交文列表</h2>
<!--[if lt IE 9]>
<div class="row">
    <div style="float: right;margin-right: 15px;">
        <label class="item item-input item-select">
            <select ng-model="orderTxt">
                <option value="" selected>请选择排序方式</option>
                <option value="-fwrq">按发文时间降序</option>
                <option value="fwrq">按发文时间升序</option>
                <option value="fwzt" >按办结发文状态优先</option>
                <option value="-fwzt" >按未办结优先</option>
                <option value="fwmc">按发文名称</option>
                <option value="-fwjbrq">按发文办结日期</option>
            </select>
        </label>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>交文编号</th>
            <th>交文名称</th>
            <th>交文人</th>
            <th>交文部门</th>
            <th>状态</th>
            <th>交文日期</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="doc in document | filter:simpleFilter | orderBy:orderTxt" ng-click="checkDocument(doc.fwbh)">
            <td>{{doc.fwbh}}</td>
            <td>{{doc.fwmc}}</td>
            <td>{{doc.fwrymc}}</td>
            <td>{{doc.fwrybm}}</td>
            <td ng-class="{'textGreen':doc.fwzt=='1'}">{{doc.fwzt|ZTchange}}</td>
            <td>{{doc.fwrq|date:'yyyy-MM-dd HH:mm'}}</td>

        </tr>
        </tbody>
    </table>
</div>
<![endif]-->
<!--[if !IE]><!-->
<div class="table-responsive">

    <p class="text-center" ng-if="isLoading">正在加载中 ... </p>
    <table ng-table="tableParams" class="table table-striped" show-filter="true" ng-show="!isLoading">

            <tr ng-repeat="doc in $data | filter:simpleFilter" ng-click="checkDocument(doc.fwbh)">
                <td title="'交文编号'" filter="{ fwbh: 'text'}" sortable="'fwbh'">
                    {{doc.fwbh}}</td>
                <td title="'交文名称'" filter="{ fwmc: 'text'}" sortable="'fwmc'">
                    {{doc.fwmc}}</td>
                <td title="'交文人'" filter="{ fwrymc: 'text'}" sortable="'fwrymc'">
                    {{doc.fwrymc}}</td>
                <td title="'交文部门'" filter="{ fwrybm: 'text'}" sortable="'fwrybm'">
                    {{doc.fwrybm}}</td>
                <td title="'状态'" filter="{ fwzt: 'text'}" sortable="'fwzt'">
                    <span ng-class="{'textGreen':doc.fwzt=='1'}">{{doc.fwzt|ZTchange}}</span></td>
                <td title="'交文日期'" filter="{ fwrq: 'text'}" sortable="'fwrq'">
                    {{doc.fwrq|date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>

    </table>
    <!--<![endif]-->
    <a style="float: right" ng-click="more()" ng-hide="isMore">更多...</a>

</div>
