<!DOCTYPE html>

    <div class="page-header">
        <h3 class="modal-title">个人信息</h3>
    </div>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="myNo" class="col-sm-2 control-label">教工号</label>
                <!--
                <div class="col-sm-10">
                    <input id="myNo" type="text" placeholder="老师的教工号" class="form-control" ng-model="gh">
                </div>
             	-->
                <div class="col-sm-10">
                    <label id="myNo" class="form-control">{{gh}}</label>
                </div>

            </div>
            <div class="form-group">
                <label for="myName" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input id="myName" type="text" placeholder="老师的姓名名称" class="form-control"  ng-model="mc">
                </div>
            </div>
            <div class="form-group">
                <label for="myDept" class="col-sm-2 control-label">部门</label>
                <div class="col-sm-10">
                    <input id="myDept" type="text" placeholder="老师所属部门" class="form-control"  ng-model="bm">
                </div>
            </div>
            <div class="form-group">
                <label for="myMobile" class="col-sm-2 control-label">手机号码</label>
                <div class="col-sm-10">
                    <input id="myMobile" type="text" placeholder="老师的手机号码" class="form-control"  ng-model="sjhm">
                </div>
            </div>
            <div class="form-group">
                <label for="myEmail" class="col-sm-2 control-label">电子邮件</label>
                <div class="col-sm-10">
                    <input id="myEmail" type="text" placeholder="老师的电子邮件" class="form-control"  ng-model="dzyx">
                </div>
            </div>
        </form>

    </div>
<div class="text-center" style="margin-top: 50px;">
    <hr>
    <button class="btn btn-primary" type="button" ng-click="save()" style="width: 120px;">保存</button>
    <button class="btn" type="button" ng-click="cancel()" style="width: 120px;margin-left: 20px;">返回</button>
</div>
