<ion-view view-title="设置">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="vm.back()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ul class="list">
            <!-- <li class="item" ng-click="vm.askClearCache()">
                <i class="icon ion-ios-contact"></i>&nbsp;&nbsp;清空缓存</i>
            </li> -->
            <li class="item" ng-click="vm.goTo('exit')">
                <i class="icon ion-ios-people"></i>&nbsp;&nbsp;退出</i>
            </li>
        </ul>
    </ion-content>
</ion-view>
