<ion-view view-title="家长信息">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="vm.back()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" style="margin-bottom: 0px">
            <div class="item item-divider">
            </div>
            <a class="item item-avatar" href="javascript:void(0)">
                <img ng-src="{{vm.parentInfo.avatarlink || 'img/user.png'}}" ng-click="vm.showImageUploadChoices()">
                <h2 ng-click="vm.goTo('parentEdit')">{{vm.parentInfo.name}}</h2>
                <p ng-click="vm.goTo('parentEdit')"><b>账号:</b>{{vm.parentInfo.uid || '无'}}</p>
            </a>
            <a class="item" href="javascript:void(0)" ng-click="vm.goTo('parentEdit')">
                性别
                <span class="item-note">
                    {{vm.parentInfo.sex|gendarChange}}
                </span>
            </a>
            <a class="item" href="javascript:void(0)" ng-click="vm.goTo('parentEdit')">
                手机
                <span class="item-note">
                    {{vm.parentInfo.mobile}}
                </span>
            </a>
        </div>

        <div class="item-header item item-divider item-divider-custom item-button-right" ng-click="vm.addChild()">
            孩子信息
            <button class="button  button-icon">
                <i class="icon ion-plus-circled"></i>
            </button>
        </div>
        <ion-list show-delete="vm.shouldShowDelete"
                  show-reorder="vm.shouldShowReorder"
                  can-swipe="true">
            <div class="no-data" ng-if="!vm.parentInfo.childrens || vm.parentInfo.childrens.length==0">
                暂无孩子信息!
            </div>
            <ion-item class="item" ng-click="vm.editChild(item)" collection-repeat="item in vm.parentInfo.childrens">
                <p>{{item.name}}({{item.uid}})<span style="float: right">{{item.sex|gendarChange}}</span></p>
                <!--暂时不支持编辑与删除-->
                <ion-option-button class="button-positive ion-edit" ng-click="vm.editChild(item)">&nbsp;编辑</ion-option-button>
                <ion-option-button class="button-assertive ion-trash-a" ng-click="vm.delChild(item)">&nbsp;删除</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
