<ion-view view-title="家长信息编辑">
    <ion-content >
        <div class="list">
            <label class="item item-input item-input-right-align">
                <span class="input-label">姓名</span>
                <input type="text" ng-model="vm.parentInfo.name">
            </label>
            <label class="item item-input item-input-right-align">
                <span class="input-label" >电话</span>
                <input type="tel" ng-model="vm.parentInfo.mobile">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    性别
                </div>
                <select ng-model="vm.parentInfo.sex">
                    <option selected value="0">女</option>
                    <option value="1">男</option>
                </select>
            </label>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="vm.save()">
                保存
            </button>
        </div>
    </ion-content>
</ion-view>
