
<ion-view view-title="家长信息">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="vm.back()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ul class="list">
            <li class="item">
                姓名
            </li>
            <li class="item">
                昵称
            </li>
            <li class="item">
                性别
            </li>
            <li class="item">
                手机号码
            </li>
        </ul>
    </ion-content>
</ion-view>
