<ion-view>
    <ion-content>
        <div class="list">
            <label class="item item-input item-input-right-align">
                <span class="input-label">厨房卫生</span>
                <input type="number" min="0" max="10" style="width:30px;" ng-model="vm.item.scores.kitchen" />
            </label>
            <label class="item item-input item-input-right-align">
                <span class="input-label">餐饮营养和质量</span>
                <input type="number" min="0" max="10" style="width:30px;" ng-model="vm.item.scores.food" />
            </label>

            <label class="item item-input item-input-right-align">
                <span class="input-label">接送秩序安全</span>
                <input type="number" min="0" max="10" style="width:30px;" ng-model="vm.item.scores.roadsafety" />
            </label>

            <label class="item item-input item-input-right-align">
                <span class="input-label" style="width:300px">消防安全和教育资质</span>
                <input type="number" min="0" max="10" style="width:30px;" ng-model="vm.item.scores.edufiresafety" />
            </label>

            <label class="item item-input item-input-right-align">
                <span class="input-label" style="width:300px">老师的爱心和责任心</span>
                <input type="number" min="0" max="10" style="width:30px;" ng-model="vm.item.scores.teacherresp" />
            </label>


            <label class="item item-input item-stacked-label">
                <span class="input-label">评语</span>
                <input type="text" ng-model="vm.item.commenttext" placeholder="请输入评语" />
            </label>

        </div>
        <div class="padding" ng-show="vm.isEditing">
            <div class="button-bar">
                <a class="button button-positive" style="margin-right: 1px;" ng-click="vm.save()">保存</a>
                <a class="button button-positive" style="margin-left: 1px;" ng-click="vm.cancel()">取消</a>
            </div>
        </div>
        </ion-content>
</ion-view>
