    <ion-view view-title="我的评价">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-ios-arrow-back" ng-click="vm.back()"></a>
        </ion-nav-buttons>
        <ion-content class="padding">
            <div class="item-divider-small">
            </div>

            <div class="no-data" ng-if="!vm.list || vm.list.length==0">
                未绑定机构!
            </div>
            <div ng-repeat="item in vm.list" ng-click="item.show=!item.show">

                <div class="list">

                    <div class="item item-icon-right" style="margin:1px;">
                        <i class="button button-icon icon ion-android-create" ng-click="vm.gotoEdit(item.AccountID)"></i>
                        <h2><strong></strong>{{item.Address||''}} </h2>
                        <p><strong>地址:</strong>{{item.OrgName||''}} </p>
                        <p><strong>电话:</strong>{{item.ContactPhone||''}} </p>
                    </div>


                    <!--分割条-->
                    <div class="item-divider-small">
                    </div>

                    <!--评论展示区-->
                    <a class="item item-icon-right item-comment-header" href="javascript:void(0)" style="margin:1px;">
                        最新评论
                        <span class="icon ion-heart  mech-comment"><i>{{item.Score}}</i></span>
                    </a>

                    <div class="list comment-list" style="border:1px solid #ddd;padding:1px;margin:1px">
                        <div class="no-data" ng-if="!item.Comments || item.Comments.length==0">
                            暂无评论!
                        </div>
                        <a class="item item-note-right item-text-wrap" ng-repeat="c in item.Comments" href="javascript:void(0)">
                            <span class="item-note">
                                {{c.create_date | formatTime}}
                            </span>
                            <h2>{{c.creator || '匿名'}}</h2>
                            <p>{{c.comment || ''}}</p>
                        </a>

                    </div>
                </div>

                <div class="item-divider-small">
                </div>
            </div>
        </ion-content>
</ion-view>
