<div class="input_content" ng-class="{'light_bottom_border':!vm.noBorder}">
    <left>
        {{vm.label}}<span ng-if="vm.required" style="color:red">*</span>
    </left>
    <right>
        <!-- <select ng-class="{'text-gray':!vm.model}" ng-disabled="vm.disabled" ng-model="vm.model" ng-options="option.value as option.content for option in vm.options">
        </select> -->

        <select dir="rtl"  ng-required="vm.required" ng-class="{'text-light-gray':!vm.model,'input_content_text':vm.model}" ng-disabled="vm.disabled" ng-model="vm.model" ng-change="vm.selectChange()">
            <option class="text-light-gray " value>{{vm.placeholder}}</option>
            <option class="text-black" ng-repeat="option in vm.options" value="{{option.value}}">{{option.content}}
            </option>
        </select>
    </right>
</div>
