<ion-view view-title="用户注册">
    <ion-content>
        <!--
        老师和家长要注册,机构直接后台添加,微信号也添加了就可直接登录
        "weixinno": "xxxxxx",          weixinno":"laoshi",                       "weixinno":"laoshi",
        "name": "李寻欢",               contactname":"托管机构联系人（管理者）",     "name":"小强",
        "mobile": "13812345678",      "contactphone": "13812345678",             "mobile":"value",
        "password":"abcd"              "password":"abcd",                        "password":"123456"
        -->
        <div class="list">
        
                <label class="item item-input item-input-right-align" >
                    <span class="input-label">姓名</span>
                    <input type="text" ng-model="vm.user.name" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        性别
                    </div>
                    <div>
                        <select ng-model="vm.user.gendar" required>
                            <option value="" disabled>请选择</option>
                            <option value="1">父亲</option>
                            <option value="2">母亲</option>
                        </select>
                    </div>
                </label>
                <label class="item item-input item-input-right-align">
                    <span class="input-label">手机</span>
                    <!--  ng-minlength="11"  ng-maxlength="11" -->
                    <input type="tel" ng-model="vm.user.mobile" required>
                </label>
                <label class="item item-input item-input-right-align">
                    <span class="input-label">密码</span>
                    <!-- ng-minlength="8" -->
                    <input type="password" ng-model="vm.user.password" required>
                </label>
                <label class="item item-input item-input-right-align">
                    <span class="input-label">密码确认</span>
                    <input type="password" ng-model="vm.user.pswConfirm" required>
                </label>
       
                <div class="padding">
                    <button class="button button-block button-positive" ng-click="vm.register()">
                        注&nbsp;&nbsp;&nbsp;&nbsp;册
                    </button>
                    <p style="color: red" ng-show="vm.error">{{vm.error}}</p>
                </div>
        </div>
    </ion-content>
</ion-view>


