<ion-view view-title="用户注册">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    用户类型
                </div>
                <select>
                    <option selected>孩子家长</option>
                    <option>托管机构</option>
                    <option>机构老师</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">手机号码</span>
                <input type="tel">
            </label>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">

                    <input type="text" placeholder="验证码">
                </label>
                <button class="button button-small">
                    获取验证码
                </button>
            </div>
            <br>
            <br>
            <button class="button button-block button-positive">
                注册用户
            </button>
        </div>
    </ion-content>
</ion-view>
