<ion-view view-title="加入/续费VIP会员">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="vm.back()"></a>
    </ion-nav-buttons>

    <ion-content>
        <div style="width: 100%; margin-top: 10px;">
            <div class="vipSelction" ng-class="{vipSelctionSelcted:vm.isSelected}" ng-click="vm.isSelected=!vm.isSelected">
                <span class="vipSelectionItem">30元 1.00元/天</span>
                <div class="vipSelectionItemRight">30天</div>
            </div>
            <div class="vipSelction">
                <span class="vipSelectionItem">50元 0.83元/天</span>
                <div class="vipSelectionItemRight">60天</div>
            </div>
            <div class="vipSelction">
                <span class="vipSelectionItem">75元 0.83元/天</span>
                <div class="vipSelectionItemRight">90天</div>
            </div>
            <div class="vipSelction">
                <span class="vipSelectionItem">150元 0.83元/天</span>
                <div class="vipSelectionItemRight">180天</div>
            </div>
        </div>

    </ion-content>

    <div class="bar bar-footer">
        <div class="button-bar">
            <a class="button button-positive" ng-disabled="!vm.isSelected" ng-click="vm.pay()">微信支付</a>
        </div>
    </div>
</ion-view>
