<ion-view view-title="VIP服务">
    <ion-content>
        <ul class="list">
            <li class="item" ng-click="vm.goTo('vipBuy')">
                <i class="icon ion-android-checkbox-outline"></i>&nbsp;&nbsp;加入/续费VIP会员</i>
            </li>
            <li class="item" ng-click="vm.goTo('vipRecord')">
                <i class="icon ion-android-clipboard"></i>&nbsp;&nbsp;我的消费记录</i>
            </li>
            <li class="item" ng-click="vm.goTo('vipTips')">
                <i class="icon ion-android-document"></i>&nbsp;&nbsp;VIP常见问题</i>
            </li>
        </ul>
    </ion-content>
</ion-view>
