<!DOCTYPE html>

<div class="page-header">
	<h3 ng-show="!showbaidu" class="modal-title">{{title}}</h3>
	<h3 ng-show="showbaidu" class="modal-title">地图打点</h3>
</div>

<div ng-show="!showbaidu">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="orgName" class="col-sm-2 control-label">机构名称</label>
			<div class="col-sm-4">
				<input id="orgName" type="text" placeholder="机构"
					class="form-control" ng-model="content.orgName">
			</div>
			<label for="address" class="col-sm-2 control-label">机构地址</label>
			<div class="col-sm-4">
				<input id="address" type="text" placeholder="机构地址"
					class="form-control" ng-model="content.address">
			</div>
		</div>
		<div class="form-group">
			<label for="contactName" class="col-sm-2 control-label">联系人</label>
			<div class="col-sm-4">
				<input id="contactName" type="text" placeholder="联系人"
					class="form-control" ng-model="content.contactName">
			</div>
			<label for="contactPhone" class="col-sm-2 control-label">联系电话</label>
			<div class="col-sm-4">
				<input id="contactPhone" type="text" placeholder="联系电话，即微信登录时的账号"
					class="col-sm-4 form-control" ng-model="content.contactPhone">
			</div>
		</div>
		<div class="form-group">
			<label for="iD2Number" class="col-sm-2 control-label">身份证号码</label>
			<div class="col-sm-4">
				<input id="iD2Number" type="text" placeholder="身份证号码"
					class="form-control" ng-model="content.id2Number">
			</div>
			<label for="iD2Number" class="col-sm-2 control-label">当前位置</label>

			<div class="col-sm-2">
			<input id="iD2Number" class="col-sm-12 form-control" type="text" placeholder="当前位置"
					 ng-model="content.markId">
			</div>
			<div class="col-sm-2">
			<button class="btn btn-primary" type="button" ng-click="showBaidu()"
					style="width: 100px;">查看所在位置</button>
			</div>	

			<div ng-show="false" class="col-sm-4">
				<input id="contactPhone" type="text" placeholder="地图坐标"
					class="form-control" ng-model="content.markId">

			</div>
			<div ng-show="false" class="col-sm-4">
				<input id="contactPhone" type="text" placeholder="地图坐标"
					class="form-control" ng-model="content.longitude">

			</div>
			<div ng-show="false" class="col-sm-4">
				<input id="contactPhone" type="text" placeholder="地图坐标"
					class="form-control" ng-model="content.latitude">

			</div>
		</div>
		<div class="form-group">
			<label for="licenseType" class="col-sm-2 control-label">执照类型</label>
			<div class="col-sm-4">
				<select class="form-control" ng-model="content.licenseType"
					ng-options="n.id as n.licenseName for n in licenseTypedata">
					<option value="">-- 请选择 --</option>
				</select>
			</div>
			<label for="placeContractType" class="col-sm-2 control-label">场地合同类型</label>
			<div class="col-sm-4">
				<select class="form-control" ng-model="content.placeContractType"
					ng-options="m.id as m.placeContractName for m in placeContractTypedata">
					<option value="">-- 请选择 --</option>
				</select>
			</div>
		</div>

		<!--  文件上传  -->
		<div class="form-group">
			<label for="frontDeskLink" class="col-sm-2 control-label">前台照片</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.frontDeskLink}} />
				<div class=" col-sm-12">
					<input class="form-control" type="file" ng-files="getTheFiles($files,'frontDeskLink')"  accept="image/* "></input>
				</div>
			</div>

			<label for="publicZoneLink" class="col-sm-2 control-label">公共活动区域</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.pubilcZoneLink}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'pubilcZoneLink')"
						accept="image/* "></input>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="kitchenLink" class="col-sm-2 control-label">厨房照片</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.kitchenLink}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'kitchenLink')"
						accept="image/*" ></input>
				</div>
			</div>

			<label for="diningRoomLink" class="col-sm-2 control-label">餐厅照片</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.diningRoomLink}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'diningRoomLink')"
						accept="image/*">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="restRoomLink1" class="col-sm-2 control-label">休息室照片1</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.restRoomLink1}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'restRoomLink1')"
						accept="image/*">
				</div>

			</div>

			<label for="restRoomLink2" class="col-sm-2 control-label">休息室照片2</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.restRoomLink2}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'restRoomLink2')"
						accept="image/*">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="classRoomLink1" class="col-sm-2 control-label">教室照片1</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.classRoomLink1}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'classRoomLink1')"
						accept="image/*">
				</div>
			</div>

			<label for="classRoomLink2" class="col-sm-2 control-label">教室照片2</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.classRoomLink2}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'classRoomLink2')"
						accept="image/*">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="otherRoomLink1" class="col-sm-2 control-label">其它房间照片1</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.otherRoomLink1}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'otherRoomLink1')"
						accept="image/*">
				</div>
			</div>

			<label for="otherRoomLink2" class="col-sm-2 control-label">其它房间照片2</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.otherRoomLink2}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'otherRoomLink2')"
						accept="image/*">
				</div>
			</div>
		</div>



		<div class="form-group">
			<label for="otherRoomLink1" class="col-sm-2 control-label">法人身份证扫描件</label>
			<div class="col-sm-4">
				<img class="form-group col-sm-12" ng-src={{content.id2PhotoLink}} />
				<div class=" col-sm-12">
					<input class="form-control"  type="file"  ng-files="getTheFiles($files,'iD2PhotoLink')"
						accept="image/*">
				</div>
			</div>
		</div>



		<!--  
		 	<form action='http://116.7.234.129/upload' method= "post" enctype="multipart/form-data">
		<label>上传图片</label><input type= "file" name='file' /><br />
		<label><input type= "submit" value="Upload File"/></label>
	</form>
		
				<form  method="post" enctype="multipart/form-data">
			<label>上传图片</label><input type="file" ng-model="file" name='file' /><br />
			<label><input type="submit" ng-click="submit()" value="UploadFile"/></label>
		</form>
			<form >
				<img src="{{uploadImg}}" />
				<input class="button" ngf-select ng-model="file" name="file"
					ngf-pattern="'image/*" accept="image/*" ngf-max-size="20MB"
					ngf-min-height="100">Select</input>
				<button type="submit" ng-click="submit()">submit</button>
				{{fileInfo.name}}<br /> {{fileInfo.size}}
			</form>
            </div>
            -->
	</form>


	
	<div class="text-center" style="margin-top: 50px;">
		<hr>
		<button class="btn btn-primary" type="button" ng-click="create()"
			style="width: 120px;">保存</button>
		<button class="btn" type="button" ng-click="cancel()"
			style="width: 100px;">返回</button>
	</div>
</div>
<!--
百度地图控件 
 -->
<div ng-show="showbaidu">
	<div id="r-result">
		请输入查询地点:<input type="text" placeholder="请输入查询地点" id="suggestId" size="20" value=""
			style="width: 150px;" />
	</div>
	<div id="allmap" style="width: 100%; height: 600px;"></div>
	<div id="searchResultPanel"
		style="border: 1px solid #C0C0C0; width: 150px; height: auto; display: none;">
	</div>
	<div class="text-center" style="margin-top: 50px;">
		<hr>
		<button class="btn btn-primary" type="button" ng-click="savePoint()"
			style="width: 120px;">确定</button>
		<button class="btn" type="button" ng-click="back()"
			style="width: 100px;">返回</button>
	</div>
</div>


