<!DOCTYPE html>

<form class="form-inline">
	<button type="button" class="btn btn-primary" ng-click="pricedetial()">新增</button>
	<div class="form-group">
		<label for="filterText" style="font-size: 18px;">模糊查询&nbsp;&nbsp;</label>
		<input type="text" class="form-control" autofocus="autofocus"
			id="filterText" placeholder="请输入查询内容" ng-model="simpleFilter">
	</div>
	<button type="button" class="btn btn-primary" ng-click="queryselect()">查询</button>
</form>


<div style="margin-top: 20px;" class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td><a
					ng-click="sortType = 'BusinessID'; sortReverse = !sortReverse">
						业务套餐ID <span ng-show="sortType == 'BusinessID' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'BusinessID' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>
				<td><a
					ng-click="sortType = 'BusinessName'; sortReverse = !sortReverse">
						套餐名称 <span ng-show="sortType == 'Address' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'BusinessName' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>
				<td><a
					ng-click="sortType = 'Price'; sortReverse = !sortReverse">
						套餐价格 <span ng-show="sortType == 'Price' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'Price' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>
				<td><a
					ng-click="sortType = 'BusinessDesc'; sortReverse = !sortReverse">
						套餐描述<span ng-show="sortType == 'BusinessDesc' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'BusinessDesc' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>

				<td><a
					ng-click="sortType = 'Provide'; sortReverse = !sortReverse">
						价格设置人 <span ng-show="sortType == 'Provide' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'Provide' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>
				
				<td><a
					ng-click="sortType = 'NumOfDays'; sortReverse = !sortReverse">
						套餐天数<span ng-show="sortType == 'NumOfDays' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'NumOfDays' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>
				

				<td><a
					ng-click="sortType = 'Status'; sortReverse = !sortReverse">
						套餐状态<span ng-show="sortType == 'Status' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'Status' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>

				<td><a
					ng-click="sortType = 'CreateTime'; sortReverse = !sortReverse">
						创建时间 <span
						ng-show="sortType == 'CreateTime' && !sortReverse"
						class="fa fa-caret-down"></span> <span
						ng-show="sortType == 'CreateTime' && sortReverse"
						class="fa fa-caret-up"></span>
				</a></td>
				

				<td></td>

			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="doc in document "
				ng-Dblclick="editdeposit(doc.BusinessID)">
				<td>{{doc.BusinessID}}</td>
				<td>{{doc.BusinessName}}</td>
				<td>{{doc.Price}}</td>
				<td>{{doc.BusinessDesc}}</td>
				<td>{{doc.Provide}}</td>
				<td>{{doc.NumOfDays}}</td>
				<td>{{doc.Status|priceStatus}}</td>
				<td>{{doc.CreateTime|date:'yyyy-MM-dd HH:mm'}}</td>
				<td><button class="btn btn-primary" type="button"
						ng-click="pricedetial(doc)">价格详情</button></td>
			</tr>
		</tbody>

	</table>


	<tm-pagination conf="paginationConf"></tm-pagination>
</div>
