.platform-android .bar .title {
    font-size: 17px !important;
}
.platform-android .ion-ios-arrow-left {
    position: relative;
    top: -1px;
}
.platform-android .bar-positive .button {
    line-height: 34px;
}
