<!DOCTYPE html>

<div class="page-header">
    <h3 class="modal-title">数据统计</h3>
</div>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="www/img/icon_finish.png" class="img-responsive" alt="a">
        <h4>本月办结数</h4>
        <span class="text-muted">{{data.monthOk}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="www/img/icon_undo.png" class="img-responsive" alt="b">
        <h4>本月未办结数</h4>
        <span class="text-muted">{{data.monthNo}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="www/img/icon_month.png" class="img-responsive" alt="c">
        <h4>本月总数</h4>
        <span class="text-muted">{{data.monthAll}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="www/img/icon_total.png" class="img-responsive" alt="d">
        <h4>总文件数</h4>
        <span class="text-muted">{{data.yearAll}}</span>
    </div>
</div>
<hr>
<h3 class="sub-header">每月统计</h3>
<div></div>
<p class="text-center" style="margin: 10px;font-size: 16px;" ng-hide="data.hideTips">数据加载中，请稍候...</p>
<highchart id="chart_column" config="chartConfig_column"></highchart>
</div>
