<ion-view view-title="我的消费记录">

    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="vm.back()"></a>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item" collection-repeat="item in vm.records">
                <p>{{item.name}}</p>
                <p>{{item.time}}</p>
            </ion-item>

            <div class="item" ng-if="vm.records !== undefined && !vm.records.length" class="no-results">
                <p>无相关记录</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
