
<ion-view view-title="老师信息">

    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">姓名</span>
                <input type="text" ng-model="vm.item.name" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">性别</span>
                <select ng-model="vm.item.sex" ng-disabled="!vm.isEditing">
                    <option value='' selected>未知</option>
                    <option value='1'>男</option>
                    <option value='2'>女</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">手机号</span>
                <input type="tel" ng-model="vm.item.mobile" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">教龄</span>
                <input type="text" ng-model="vm.item.teachage" required ng-readonly="!vm.isEditing">
            </label>
            <label class="item item-input">
                <span class="input-label">年龄</span>
                <input type="text" ng-model="vm.item.age" required ng-readonly="!vm.isEditing">
            </label>
        </div>
    </ion-content>

    <div class="bar bar-footer" ng-show="vm.isEditing">
        <div class="button-bar">
            <a class="button button-positive" style="margin-right: 1px;" ng-click="vm.save()">保存</a>
            <a class="button button-positive" style="margin-left: 1px;" ng-click="vm.back()">取消</a>
        </div>
    </div>
</ion-view>
